<launch>

  <!-- TEST launch file for EB Robot. THIS ONE FOR TESTING FACE TRACKING, etc. -->

   
  <!-- Arduino in EB Head, controls eyes and ears colors -->
  <!-- WARNING Feather does not have a serial number, so ports mapped by plug location in USB hub! (see udev rules) --> 
  <node pkg="rosserial_python" type="serial_node.py" name="head_node" output="screen">
    <param name="port" value="/dev/head_arduino"/>
    <param name="baud" value="57600"/>
  </node>


  <!-- Dynamixel Servo Controllers, using modified dynamixel_motor module -->
  <include file="$(find eb_servos)/launch/servos.launch"/>
  
  
  <!-- Text to speech (robot voice) and sound effects services -->   
  <rosparam file="$(find eb)/config/jokes.yaml" command="load"/>
  <include file="$(find robot_sounds)/launch/robot_sounds.launch"/>
    
  
  <!-- Speech Recognition                                           *** DISABLED 
  <include file="$(find eb)/launch/include/speech_recognition.launch"/>
  -->


  <!-- Recognize speech commands (Intents)          *** DISABLED 
  <include file="$(find speech_handler)/launch/speech_handler.launch"/>
  -->

  <!-- Face Detector  -->
  <node name="face_detector_node" pkg="face_detector" type="face_detector.py" required="true" output="screen">
    <!-- load params from Yaml -->
    <rosparam command="load" file="$(find face_detector)/launch/face_detector_params.yaml"/>
  </node>


  <!-- Face Recognizer  -->
  <node name="face_recognizer" pkg="face_recognizer" type="face_recognizer.py" output="screen">
    <rosparam command="load" file="$(find face_recognizer)/launch/face_recognizer_params.yaml"/>
  </node>
  

  <!-- Behavior plugin loader -->
       roslaunch behavior_common behavior_common.launch    
  <node pkg="behavior_common" type="behavior_loader" name="behavior_common_node" output="screen">
    <param name="robot_startup_behavior" value="/wakeup_behavior"/>
    <param name="robot_idle_behavior" value="/idle_behavior"/>
  </node>



  <!-- DISABLED THROWS ERROR Pose buttons to allow moving joints into poses for development / training.
       To invoke from command line: rostopic pub -1 /button_left std_msgs/Bool 1   
  <node pkg="eb_pose_buttons" type="pose_buttons.py" name="pose_buttons" output="screen"/>
-->

  <!-- launch realsense camera   -->
  <include file="$(find eb)/launch/include/eb_rs_aligned_depth.launch"/>



</launch>
