<launch>

  <!-- Using Joystick to train poses for EB Robot. -->
  <!-- NOTE: LOGITECH JOYSTICK DOES NOT WORK ON JETSON NANO! (good thing we use Intel NUC!)
       see https://github.com/jetsonhacks/logitech-f710-module -->

  <!-- Dynamixel Servo Controllers, using modified dynamixel_motor module -->
  <include file="$(find eb_servos)/launch/servos.launch"/>

  <!-- Joystick input, which publishes a generic '/joy' Joystick topic. -->
  <node pkg="joy" type="joy_node" name="joystick" output="screen"/>


  <node name="pose_training" pkg="eb_pose_training" type="eb_pose_training.py" output="screen"/>



</launch>
